/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #0a02a1; /* Primary text color */
}

/* Navigation Bar */
.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-button {
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px; /* Ensure space around menu button */
}

.logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Center logo */
}

.logo {
    height: 50px;
    width: auto;
}

/* Pantry Grid Layout */
.pantry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
}

.item {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.2s;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 4px;
}

.item span {
    display: block;
}

.item-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item:hover .item-buttons {
    opacity: 1;
}

/* Button Styling */
button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Fixed Button Container at the Bottom */
.button-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

/* Sidebar Navigation */
.side-nav {
    height: 100%;
    width: 0; /* Initial state, hidden */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-nav a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Apply a hover effect for links for better user feedback */
.side-nav a:hover {
    background-color: #e0e0e0;
}
