/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #0a02a1;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h2 {
    text-align: center;
    margin: 20px 0;
}
/* Recipe Grid Layout */
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: stretch;
}

.recipes {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; 
}

/* Apply shading effect excluding the add-recipe button */
.recipes:not(.add-recipe):hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Black shade with 20% opacity */
    opacity: 1; /* Make it visible on hover */
    border-radius: 8px; /* Match the border-radius of the item */
    z-index: 1; /* Place it above the item but below the buttons */
}

/* Remove hover effect on the add-recipe button */
.add-recipe:hover::before {
    content: none;
}

.recipes img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.recipes:hover img {
    filter: brightness(70%); /* Apply shading effect to the image */
}

.recipes span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Buttons inside the recipes */
.recipes-buttons {
    display: none; /* Hide buttons by default */
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    z-index: 2; /* Place above the shading effect */
}

/* Show buttons on hover */
.recipes:hover .recipes-buttons {
    display: flex;
}

.recipes-buttons button {
    padding: 10px;
    margin-top: 5px;
    background-color: #0a02a1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.recipes-buttons button:hover {
    background-color: #ff4b92;
    transform: scale(1.05);
}

/* Styling for Add Recipe button */
.add-recipe {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

/* Add Recipe button hover effect without shading */
.add-recipe:hover {
    background-color: #ff4b92; /* Pink background on hover */
    color: white;
    transform: scale(1.05);
}