/* showrecipe.css */
body {
    font-family: 'Arial', sans-serif;
    color: #0a02a1;
    padding: 20px;
    line-height: 1.6;
    text-align: left;
}

.recipe-content {
    position: relative; /* Needed if you decide to make it fixed on the screen */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #0a02a1;
    overflow-x: hidden; /* No horizontal scroll */
    overflow-y: auto; /* Enable vertical scroll */
    height: 400px; /* Fixed height to enable scrolling */
    max-width: 800px; /* Restricting max width for better readability */
}

ul {
    padding-left: 20px; /* Indent for list items */
    list-style-type: disc; /* Bullet style */
}

li {
    margin-bottom: 10px;
    text-align: left;
}

h2, h3 {
    color: #0a02a1;
    margin-top: 10px;
}

strong {
    color: #ff4b92;
    font-weight: bold;
}

button {
    background-color: #0a02a1;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ff4b92;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

.button-container {
    position: fixed;
    right: 10px; /* Fixed to the left bottom corner */
    bottom: 10px;
    z-index: 1000;
}
