/* Navbar: Fixed at the top */
.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 10vh; /* Height of the navbar */
}

/* Main Content Area */
.main-content {
  margin-top: 10vh; /* Matches the navbar height to push content down */
  padding: 2rem;
  min-height: calc(100vh - 10vh); /* Ensure the content takes up remaining height */
  background-color: #ffffff;
  overflow-y: auto;
  box-sizing: border-box; /* Make sure padding is included in height calculation */
  width: 100vw;
}

/* Ensure body stretches full height */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
   /* Ensure the root takes the full viewport height */
  height: 100vh;
}



/* Sidebar Navigation */
.side-nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 10vh; /* Ensure padding starts below the navbar, which is now 10% height */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-nav a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #0a02a1;
}

.side-nav a:hover {
  background-color: #e0e0e0;
}

/* When side-nav is open, shift main-content to the right */
.body.side-nav-open .main-content {
  margin-left: 250px; /* Shift content when the sidebar is open */
  width: calc(100% - 250px); /* Adjust the width dynamically based on the sidebar */
}


.menu-button {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px; 
}

/* Optional: Handle the logo */
.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centers the logo */
}

.logo {
  height: 50px;
  width: auto;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .side-nav {
    width: 200px; /* Smaller sidebar on mobile */
  }

  .body.side-nav-open .main-content {
    margin-left: 200px;
    width: calc(100vw - 200px);
  }
}
