.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 90vw; /* Use viewport width for responsiveness */
    max-width: 500px; /* Maximum width so it doesn't get too large on wide screens */
    max-height: 80vh; /* Limits modal height to 80% of the viewport */
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    z-index: 1100; /* Ensure the modal is above the sidebar */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure overlay is above other content */
}

.modal img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.modal textarea, .modal input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Prevent overflow due to padding */
}

.modal button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0a02a1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: #ff4b92; /* Pink color on hover */
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Ensure no horizontal scroll in the body */
body {
    overflow-x: hidden;
}
